@charset 'utf-8';

.gnb {
  height: 44px;
}

.lnb {
  height: 52px;
  border-bottom: 1px solid #ddd;
}

.global-nav-list,
.local-nav-list {
  display: flex;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  height: 100%;
}

.global-nav-list {
  justify-content: space-between;
}

.global-nav-list .global-nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.global-nav-list .global-nav-item a {
  padding: 10px 0;
}

.product-name {
  margin-right: auto;
}

.local-nav-item.product-name h1 a {
  font-size: 1.2rem;
  font-weight: 700;
}

.local-nav-list .local-nav-item:not(.product-name) {
  margin-left: 2em;
}

.local-nav-item a {
  font-size: 0.8rem;
}
